		html,body {
			margin: 0;
			padding: 0;
		}
		.header {
			background: #222222;
			color: #dfdfdf;
			padding: 1vh;
		}
		.main {
			margin: 0;
			padding: 0;
		}
		h2 {
			font-family: sans-serif;
			padding: 1px;
			margin: 0;
		}
		p {
			font-family: sans-serif;
			font-size: 3vh;
			padding: 1px;
			margin: 0;
		}
		table {
			margin: 3vh;
		}
		th {
			padding: 1vh;
			background: darkblue;
			color: #dfdfdf;
		}
		td {
			padding: 1vh;
		}